<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
<!--    <script src="https://js.squareup.com/v2/paymentform"></script>-->
</head>
<body>
<!--<div id="booking-container"></div>-->
<!--<div id="samples-container"></div>-->
<div id="giftcard-container"></div>
<!--<script type="text/javascript" src="/bundle.min.js"></script>-->

<script type="text/javascript" src="/vendor.bundle.js"></script>
<script type="text/javascript" src="/booking.bundle.js"></script>
<script type="text/javascript" src="/samples.bundle.js"></script>
<script type="text/javascript" src="/giftcard.bundle.js"></script>
</body>
</html>
